.tile {
    width: 5rem;
    height: 5rem;
    background-color: rgb(60, 118, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: rgb(233, 233, 70);
}

.tile:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}